/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #444;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

/*
open sans (robotoga almashladim condenced 700 topilmadi)(500) 400 600 700
open sans condensed 700

*/